@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Aeonik';
		src: url('/fonts/Aeonik-Regular.otf') format('opentype');
		font-display: block;
	}
	@font-face {
		font-family: 'Aeonik';
		src: url('/fonts/Aeonik-Medium.otf') format('opentype');
		font-weight: 500;
		font-display: block;
	}
	@font-face {
		font-family: 'Aeonik';
		src: url('/fonts/Aeonik-Bold.otf') format('opentype');
		font-weight: 700;
		font-display: block;
	}
	@font-face {
		font-family: 'Aeonik';
		src: url('/fonts/Aeonik-Black.otf') format('opentype');
		font-weight: 900;
		font-display: block;
	}
}

body {
	font-family: 'Aeonik', sans-serif;
	color: #2f2f2f;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

:focus {
	@apply focus:outline-wustomers-blue;
}

button {
	@apply focus-visible:rounded-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-wustomers-blue;
}

/* .link-hover {
	@apply relative overflow-x-hidden after:absolute after:bottom-0 after:right-0 after:h-[1px] after:w-full after:origin-bottom-left after:-translate-x-full after:bg-white after:transition-all after:hover:origin-bottom-right after:hover:translate-x-0;
} */

/* input:number reset */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* removes ms edge password reveal icon */
::-ms-reveal {
	display: none;
}

.custom-select {
	@apply mt-2 h-[46px] w-full appearance-none rounded-sm border-0 bg-wustomers-primary px-4 text-base text-wustomers-main ring-[1.5px] data-[placeholder]:!text-gray-400;
}

.campaign-badge-bg {
	background: linear-gradient(
		92.36deg,
		rgba(255, 255, 255, 0.75) -2.12%,
		rgba(255, 255, 255, 0.8) -2.11%,
		rgba(255, 255, 255, 0.75) 106.8%
	);
}

input[type='radio'] {
	@apply h-4 w-4 accent-wustomers-blue;
}

/* markdown styles */
.vite-plugin-react-markdown h1 {
	@apply pb-4 text-4xl font-bold;
}
.vite-plugin-react-markdown h2 {
	@apply mb-2 border-b pt-6 text-xl font-medium;
}
.vite-plugin-react-markdown li {
	@apply list-inside list-disc pl-4;
}
.vite-plugin-react-markdown h3 {
	@apply pt-4 text-lg font-medium;
}
